// App level styles
a,
button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}

.container {
  max-width: 960px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex-ac-jb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-ac {
  display: flex;
  align-items: center;
}
